.container_logo{
    display: flex;
    background-color: var(--cor-secundaria);
    margin-top: 2rem;
    height: 200px;
    gap: 2rem;
    box-shadow: 5px 5px 10px var(--cor-principal);
    align-items:center;
    justify-content:center;
    flex-direction: column;

}

.title_contato{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--cor-primaria);

}

p{
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: var(--cor-primaria);
}