.container_footer{
    display: flex;
    background-color: var(--cor-secundaria);
    margin-top: 2rem;
    height: 200px;
    gap: 1rem;
    align-items:center;
    justify-content:center;
    flex-direction: column;

}


p{
    font-family: "Bilbo", cursive;
    font-style: italic;
    font-weight: 500;
    font-size: 27px;
    color: var(--cor-primaria);
}

@media(width <= 1260px){
    .container_footer{
        height: 165px;
    }

    p{
        font-size: 26px;
    }

}


@media(width <= 864px){
    .container_footer{
        height: 160px;
    }

    p{
        font-size: 24px;
    }
}
   

@media(width <= 520px) {

    .container_footer{
        height: 160px;
    }

    p{
        font-size: 24px;
    }
}