
.container_cabecalho{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--cor-secundaria);
    
}


h1 {
    font-family:  "Pacifico", cursive;
    font-size: 2rem;
    color: var(--cor-primaria);
    border-radius: 1px solid var(--cor-primaria);
    text-shadow: 2px 2px 1px var(--cor-clara);
}

