.container_produtos{
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    gap: 3rem; 
    min-height: 60vh; 

}

ul, li{
    list-style: none;
}

.container_produtos h2{
    font-family: "Bilbo", cursive;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    font-style: normal;
    color: var(--cor-primaria);
    margin-bottom: 1rem;
}

.card-container {
    max-width: 1428px;
    margin: 0 auto;
}

.card-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 25px;
    border-radius: 1.25rem;
    overflow: hidden;
    justify-content: center;  
}


.lista_product{
    width: 100%;
    max-width: 250px;
    height: 21rem;
    border-radius: 1.25rem;
    overflow: hidden;
    border: 1px solid var(--cor-principal);
    box-shadow: 2px 2px 5px var(--cor-escura);
    
}


.card-image {
    width: 250px;
    height: 200px;
    position: relative;
    z-index: 10;
    margin-bottom: 2rem;
    background-color: var(--cor-escura);
    overflow: hidden; 
    margin-bottom: -10px;
    box-shadow: 2px 2px 10px var(--cor-escura);
}

.image-product{
    width: 100%;
    height: 200px;
    z-index: 6;
    position: relative; 
    object-fit: fill; 
    margin: 0 auto;
    transition: transform 0.3s ease; /* transition effect zoom */
    cursor: pointer;
}

/* effect zoom */ 
.card-image:hover .image-product {
    transform: scale(1.2);
}

.container_card_data{
    z-index: 2;
    position: relative;
    padding: 1rem 0.5rem;
    text-align: center;
    color: var(--cor-escura);
    background-color: var(--cor-secundaria);
    overflow: hidden;
    height: 190px;
    
}
.titulo_products{
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    margin: 0.6rem;
    color: var(--cor-escura);
}

.price_products{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--cor-escura);
}

.container_button_delete{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: var(--cor-clara);
    backface-visibility: hidden;

}

.delete_button{
    border: 0.2rem solid var(--cor-principal);
    font-weight: 700;
    border-radius: 20px;
    padding: 0.5rem 1.3rem;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    box-shadow: 1px 1px 5px var(--cor-principal);  
}

.delete_button:hover{
    transform: perspective(3px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    font-weight: 700;
    border-color: var(--cor-clara);
    color: var(--cor-principal);
    box-shadow: 3px 3px 8px var(--cor-escura);
    opacity: 0.4;  
}

.titulo_cards{
    text-align: center;
}   


/* Sessão de estilização da pagina de confirmação de envio */

.container_subtitulo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: end;
    gap: 0.5rem;
    
}
.subtitulo{
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    color: var(--cor-secundaria);
    text-align: center;
}

/* Sessão de estilização avisos erro */

.titulo_erro{
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    color: var(--cor-secundaria);

}

@media(width <= 1260px){

    .container_card{
        gap: 1rem;        
    }

    .container_produtos h2{
        font-size: 2.5rem;    
    }

 
        
}

@media(width <= 1044px){

    .container_produtos h2{
        font-size: 2.2rem;
    }

    .container_card{
        gap: 1rem;        
    }

  

}

@media(width <= 864px){

    .container_produtos{
        display: flex;
        gap: 1rem;    
    }

    .container_produtos h2{
        font-size: 2rem;
        text-align: center;
    }

}

@media(max-width: 430px) {

    .container_produtos{
        display: flex;
        padding: 1rem;
        gap: 1rem;        
    }

    .container_produtos h2{
        font-size: 1.9rem;
        align-items: center;
    }


    

}



